.productDisplay{
    display: flex;
    margin: 0px 170px;
}

.productDisplay__left{
    display: flex;
    gap: 17px;
}

.productDisplay__imageList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productDisplay__imageList img{
    height: 163px;
}

.productDisplay__mainImage{
    width: 586px;
    height: 700px;
}

.productDisplay__right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column; 
}

.productDisplay__right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productDisplay__rightStars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productDisplay__rightPrices{
    display: flex;
    margin: 30px 40px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productDisplay__oldPrice{
    color: #818181;
    text-decoration: line-through;
}

.productDisplay__newPrice{
    color: #ff4141
}

.productDisplay__rightSize h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productDisplay__sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productDisplay__sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productDisplay__right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productDisplay__rightCategory{
    margin-top: 10px;
}

.productDisplay__rightCategory span{
    font-weight: 600;
}
